/* */
.board {
    width: 100%;
    background-color: transparent;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.board__table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    overflow: auto;
}

.board__table .board__table__header {
    display: flex;
    width: 100%;
    background-color: var(--main-color);
    padding: 10px 20px;
}

.board__table .board__table__attribute {
    flex: 4;
    color: var(--text-in-background-color);
    text-align: center;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.board__table .board__table__row .board__table__attribute {
    color: var(--text-color);
}

/* 
.board__table .board__table__row .board__table__attribute button {
    color: var(--main-color);
    font-weight: 700;
} */

.board__table__attribute .board__table__attribute__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-in-background-color);
}

/* .board__table .board__table__attribute:first-child {
    flex: 1;
}

.board__table .board__table__attribute:nth-child(2) {
    flex: 3;
}

.board__table .board__table__attribute:nth-child(3) {
    flex: 4;
}

.board__table .board__table__attribute:nth-child(4) {
    flex: 2;
}

.board__table .board__table__attribute:nth-child(5) {
    flex: 2;
}

.board__table .board__table__attribute:nth-child(5) {
    flex: 2;
}

.board__table .board__table__attribute:nth-child(6) {
    flex: 3;
}

.board__table .board__table__attribute:nth-child(7) {
    flex: 1;
} */

.board__table .board__table__attribute span {
    color: var(--text-in-background-color);
    font-weight: 700;
    text-align: center;
}

.board__table .board__table__attribute button {
    background-color: transparent;
    border: none;
    color: var(--text-in-background-color);
    cursor: pointer;
}

.board__table__data {
    background-color: var(--item-color);
    width: 100%;
    flex: 1;
    padding-bottom: 50px;
}

.board__table__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-in-background-color);
}


.board__feature__add {
    display: flex;
    align-items: center;
}

.board__feature__add button {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--item-color);
    border-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
}

.board__feature__add button .icon__add {
    margin-right: 5px;
}

.board__table__data .board__table__row {
    padding: 10px 20px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--item-color);
}

.board__table__data .board__table__row:hover {
    cursor: pointer;
    background-color: #43434370;
}

.board__table .board__table__attribute img {
    width: 50px;
    height: 50px;
    background-color: white;
    object-fit: cover;
}

.board__table__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--main-color);
}

.board__table__footer .board__table__paging {
    display: flex;
    align-items: center;
}

.board__table__footer .board__table__paging .board__table__paging__page {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    margin: 0 5px;
}

.board__table__footer .board__table__paging span {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    margin: 0 5px;
}

.board__table__footer .board__table__paging .board__table__paging__button {
    margin: 0 5px;
    cursor: pointer;
}

.board__table__footer .board__table__selected {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
}

.board__table__footer .board__table__selected button {
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: var(--text-in-background-color);
    cursor: pointer;
}

.board__table__paging__button button {
    font-size: 20px;
    background: transparent;
    color: var(--text-in-background-color);
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.board__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.board__feature__sortfilter {
    display: flex;
    align-items: center;
}

.board__feature__sortfilter .board__feature__item {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.board__feature__sortfilter .board__feature__item+.board__feature__item {
    margin-left: 20px;
}

.board__feature__item__icon {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__feature__sortfilter .board__feature__item select {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
    flex: 1;
}

.board__feature__sortfilter .board__feature__item select option {
    background-color: var(--item-color);
    color: var(--main-color);
}

.board__feature__sortfilter .board__feature__item select::-webkit-scrollbar {
    width: 5px;
}

.board__feature__search {}

.board__feature__search input {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    font-weight: 700;
}

.board__feature__search button {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--item-color);
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid var(--main-color);
}

.board__table .board__table__attribute>button {
    background-color: transparent;
    border: none;
    color: var(--text-in-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
}