.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

.header__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-in-background-color);
}

.header__logo .icon__logo {
    font-size: 30px;
    color: var(--main-color);
}

.header__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
}

.header__nav .header__nav__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 0;
}

.header__nav__items .header__nav__items__title {
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: var(--text-in-background-color);
    font-weight: 600;
}

.header__nav__items__content {
    margin: 5px 0;
}

.header__nav__items__content .header__nav__item {
    width: 100%;
    font-size: 14px;
    color: var(--text-in-background-color);
    text-decoration: none;
    transition: all 0.3s;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 130px;
}

.header__nav__items__content .header__nav__item .icon__item {
    margin-right: 10px;
    width: 20px;
}

.header__nav__items__content .header__nav__item span {
    flex: 1;
    text-align: left;
    font-weight: 600;
    user-select: none;
}

.header__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
}

.header__footer__item {
    font-size: 14px;
    color: var(--text-in-background-color);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
    width: 130px;
    cursor: pointer;
    padding: 5px;
}

.header__footer__item .icon__logout {
    margin-right: 10px;
}

.header__footer__item span {
    user-select: none;
    flex: 1;
}