.board--product .board__table .board__table__attribute:first-child {
    flex: 1;
}

.board--product .board__table .board__table__attribute:nth-child(2) {
    flex: 2;
}

.board--product .board__table .board__table__attribute:nth-child(3) {
    flex: 4;
}

.board--product .board__table .board__table__attribute:nth-child(4) {
    flex: 4;
}

.board--product .board__table .board__table__attribute:nth-child(5) {
    flex: 3;
}

.board--product .board__table .board__table__attribute:nth-child(5) {
    flex: 2;
}

.board--product .board__table .board__table__attribute:nth-child(6) {
    flex: 4;
}

.board--product .board__table .board__table__attribute:nth-child(7) {
    flex: 4;
}

.board--product .board__table .board__table__attribute:nth-child(8) {
    flex: 2;
}

.board--product .board__table .board__table__attribute:nth-child(9) {
    flex: 1;
}