/* */
.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product__table {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.product__table .product__table__header {
    display: flex;
    width: 100%;
    background-color: var(--main-color);
    padding: 10px 20px;
}

.product__table .product__table__attribute {
    flex: 4;
    color: var(--text-in-background-color);
    text-align: center;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.product__table .product__table__attribute .product__table__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-in-background-color);
}

.product__table .product__table__row .product__table__attribute {
    color: var(--text-color);
}

.product__table .product__table__attribute:nth-child(2),
.product__table .product__table__attribute:nth-last-child(2) {
    flex: 2;
}

.product__table .product__table__attribute:first-child,
.product__table .product__table__attribute:last-child {
    flex: 1;
}

.product__table .product__table__attribute:nth-child(4) {
    flex: 5;
}

.product__table .product__table__attribute:nth-child(5) {
    flex: 5;
}

.product__table .product__table__attribute span {
    color: var(--text-in-background-color);
    font-weight: 700;
    text-align: center;
}

.product__table .product__table__attribute button {
    background-color: transparent;
    border: none;
    color: var(--text-in-background-color);
    cursor: pointer;
}

.product__table__data {
    width: 100%;
    background-color: var(--item-color);
    flex: 1;
}

.product__table__data .product__table__row {
    padding: 10px 20px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--item-color);
}

.product__table__data .product__table__row:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.product__table .product__table__attribute img {
    width: 50px;
    height: 50px;
    background-color: white;
    object-fit: cover;
}

.product__table__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--main-color);
}

.product__table__footer .product__table__paging {
    display: flex;
    align-items: center;
}

.product__table__footer .product__table__paging .product__table__paging__page {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    margin: 0 5px;
}

.product__table__footer .product__table__paging span {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    margin: 0 5px;
}

.product__table__footer .product__table__paging .product__table__paging__button {
    margin: 0 5px;
    cursor: pointer;
}

.product__table__footer .product__table__selected {
    color: var(--text-in-background-color);
    font-size: 14px;
    font-weight: 700;
}

.product__table__footer .product__table__selected button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    color: var(--text-in-background-color);
    cursor: pointer;
}

.product__table__paging__button button {
    font-size: 20px;
    background: transparent;
    color: var(--text-in-background-color);
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.product__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.product__feature__sortfilter {
    display: flex;
    align-items: center;
}

.product__feature__sortfilter .product__feature__item {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.product__feature__sortfilter .product__feature__item+.product__feature__item {
    margin-left: 20px;
}

.product__feature__sortfilter .product__feature__item select {
    padding: 5px 10px;
    border: none;
    outline: nones;
    background-color: transparent;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
}

.product__feature__sortfilter .product__feature__item select::-webkit-scrollbar {
    width: 5px;
}

.product__feature__search {}

.product__feature__search input {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    font-weight: 700;
}

.product__feature__search button {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--item-color);
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid var(--main-color);
}