.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
}

.subheader__title {
    color: var(--text-in-background-color);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.subheader__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    background: var(--item-color);
}

.subheader__features .subheader__feature {
    margin: 0 10px;
    cursor: pointer;

}

.subheader__features .subheader__feature .icon__feature {
    color: var(--main-color);
    transition: all 0.3s;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}

.subheader__features .subheader__feature:nth-child(1):hover .icon__feature,
.subheader__features .subheader__feature:nth-child(3):hover .icon__feature {
    animation: spin 1s infinite;
}

.subheader__features .subheader__feature:nth-child(2):hover .icon__feature,
.subheader__features .subheader__feature:nth-child(4):hover .icon__feature {
    animation: shake 0.5s infinite;
}

.subheader__nav {
    position: relative;
    display: none;

}

.subheader__nav>button {
    background: transparent;
    border: none;
    color: var(--text-in-background-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.subheader__nav__sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    opacity: 0;
    background-color: var(--main-color);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    color: var(--text-in-background-color);
    padding: 10px 20px;
    transition: all 0.5s;
    z-index: 10;
}

.subheader__nav__items {
    margin: 10px 0;
}

.subheader__nav__title {
    font-size: 16px;
    font-weight: 700;
    user-select: none;
}

.subheader__nav__item {
    margin: 2px 0;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    color: var(--text-in-background-color);
}

.subheader__nav__item button {

    background-color: transparent;
    border: none;
}

.subheader__nav__item button a {
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    color: var(--text-in-background-color);
    font-family: "Varela Round";

}

.subheader__close__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.subheader__close__btn>button {
    background: transparent;
    border: none;
    color: var(--text-in-background-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}