.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent
}

.subheader__title {
    color: var(--text-in-background-color);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.subheader__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
}

.subheader__features .subheader__feature {
    margin: 0 10px;
}

.subheader__features .subheader__feature .icon__feature {
    color: var(--main-color);
}